table{
	border-spacing: 0;
	color: #333;
}
caption{
	font-weight: bold;
	margin: none;
}
caption a{
	float:left;
	text-decoration: none;
	color: #000;
}
caption a:last-child{
	float: right;
}
caption,thead{
	background-color: #eee;
	padding: 5px;

}
thead tr th{
	width:40px;
}
tbody td{
	text-align: center;
	border-collapse: separate;
	border-top:1px solid #eff;
	border-left:1px solid #eff;
	border-right:1px solid gray;
	border-bottom: 1px solid gray;
	cursor: pointer;
}
td:hover{
	background-color: gray;
	color: white;
	border-left-color: black;
	border-top-color: black;
}
.pre,.next{
	background-color: #eee;
	color: gray;
	cursor:auto;
}

/*表单的样式*/
fieldset{
	width: 60%;
}
label,h2{
	width: 10em;
	float: left;/*label本来是行内元素不能设置width，浮动后变成了BFC*/
	text-align: right;
	margin-right: 10px;
}
h2{
	font-size:1em;
	font-weight: normal;
	cursor:default;
}
div{
	margin: 10px;
	position: relative;
}
input[type="text"]{
	width: 10em;
}
label em{
	position: absolute;
	left: 20em;
}
div.color{
	clear: left;
	display: inline-block;
	width: 5em;
}
div.color label{
	text-align: left;
	display: block;
	float: none;
}
textarea#message{
	width: 300px;
	height: 10em;
}
button{
	width: 80px;
	height: 60px;
	cursor: pointer;
	float: right;
}
